<html>
<head>
    <title>Write</title>
</head>
<body>
<form th:action="@{/board/write}" method="post">
    <ul>
        <li>
            <label>
                제목:
                <input type="text" name="title"/>
            </label>
        </li>
        <li>
            <label>
                내용:
                <input type="text" name="content"/>
            </label>
        </li>
        <li>
            <label>
                작성자:
                <input type="text" name="writer"/>
            </label>
        </li>
    </ul>
    <a th:href="@{/board/list}">취소</a>
    <input type="submit" value="추가">
</form>
</body>
</html>